!includedir /etc/mysql/conf.d/

[client]

default-character-set=utf8mb4

[mysql]

default-character-set=utf8mb4

[mysqld]

collation-server=utf8mb4_general_ci

pid-file        = /var/run/mysqld/mysqld.pid

socket          = /var/run/mysqld/mysqld.sock

datadir         = /var/lib/mysql

secure-file-priv= NULL

symbolic-links=0

character-set-server=utf8mb4

collation-server=utf8mb4_general_ci

default-time_zone = '+0:00'

binlog_format=Row
#  关闭二进制文件，可以使用GTID复制, 现在是系统级的，这个已经不生效了。
#  log_bin=0
#  skip_log_bin

max_binlog_size=100M

log_output=TABLE

slow_query_log=1

log_slow_admin_statements=0

long_query_time=1

log_queries_not_using_indexes=0

general_log=1
#  允许最大连接数
max_connections=2000
#  允许错误连接尝试次数
max_connect_errors=1000
#  索引键缓冲区大小,如果为0则不使用缓存，如果设置太小也不能使用缓存。
key_buffer_size=256M
#  查询排序时的缓冲区大小，对每个请求分配
sort_buffer_size=8M 
#  排序时使用的字节数。增加这个值 时，同样增加 sort_buffer_size 值 。
max_sort_length=8K
#  连接时的缓冲区大小，对每个请求分配
join_buffer_size=8M
#  临时表大小,应该尽量避免使用临时表。这大小为建议值为64M-256M
tmp_table_size=64M
#  限制表查找时使用最大行数，这个可以强制走索引，而不是表扫描。
max_seeks_for_key=1000
#  增加mysql批量插入 ,如果没有大批量插入，尽量不要调整这个参数 
bulk_insert_buffer_size=16M

#  InnoDB 缓冲池分为的区域数
innodb_buffer_pool_instances=16
#  innodb数据缓冲池，重复查询时，无需任何磁盘I/O,一般为当前操作系统内存的60%-70%
innodb_buffer_pool_size=6G

innodb_log_file_size=134217728

innodb_log_files_in_group=8

default-storage-engine=innodb
#  允许缓存打开表个数
# table_open_cache=4000

#  开启独立表空间
innodb_file_per_table=1

#  innodb 崩溃时重启时使用 1: 尝试跳过受损的区，2：阻止主线程与清理线程运行，这个可以保证不崩溃。3：不进行事务恢复。4：
#  innodb_force_recovery=3
#  innodb 崩溃后每秒刷新日志，不再默认的事务结束提交。
#  innodb_flush_log_at_trx_commit=0

#  读取查询时使用的缓冲区大小。
read_buffer_size=4M
#  给任意顺序读取分配一个缓冲区，避免磁盘查找
read_rnd_buffer_size=16M

#  innodb 日志缓冲区,大事务或批量插入时调大有明显效果
innodb_log_buffer_size=32M